*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #131313;
}
.container{
    position: relative;
}
.container .card{
    position: relative;
    width: 350px;
    height: 460px;
    background-color: #232323;
    border-radius: 20px;
    overflow: hidden;
    --hover-color:#9b9d8c;
}

.container .card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--hover-color);
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}
.container .card:hover::before{
    clip-path: circle(300px at 80% -20%);
}
.container .card::after{
    content: '';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}
.container .card .imgBx{
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    z-index: 1000;  /*1000 */
    width: 100%;
    height: 200px;
    transition: 0.5s;
}
.container .card:hover .imgBx{
    top: 0%;
    transform: translateY(0%);
}

.container .card .imgBx img{
    position: absolute;
    top: 35%;  /*45*/
    left: 50%;
    transform: translate(-50%, -50%) rotate(-21deg);
    width: 320px;
    transition: 0.5s;
}
.container .card .contentBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}
.container .card:hover .contentBx{
    height: 210px;
}
.container .card .contentBx h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}
.container .card .contentBx .size,
.container .card .contentBx .color{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden; 
}
.container .card:hover .size{
    opacity: 1;
    visibility: visible;
    transition: 0.6s;
}
.container .card:hover .color{
    opacity: 1;
    visibility: visible;
    transition: 0.6s;
}
.container .card .contentBx .size h3,
.container .card .contentBx .color h3{
    color: white;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 10px;
}
.container .card .contentBx .size span{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    display: inline-block;
    color: #111;
    background-color: #fff;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
.container .card .contentBx .size span:hover{
    background: #1d6dc2;
}
.container .card .contentBx .color span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.container .card .contentBx .color span:nth-child(2){
    background: white;
}
.container .card .contentBx .color span:nth-child(3){
    background: #04fdeB;
}
.container .card .contentBx .color span:nth-child(4){
    background: #db2e2e;
}

.container .card .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}
.container .card .contentBx:hover a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}